* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* width */

::-webkit-scrollbar {
    width: 15px;
    position: absolute;
    top: 66px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--primaryColor);
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: purple;
}

:root {
    --primaryColor: blueviolet;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #cfcfcf;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 3px;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}


/* globals */

body {
    padding-top: 60px;
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.4;
}

h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
}

h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}

h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

h6 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

.btn-primary {
    display: inline-block;
    text-decoration: none;
    letter-spacing: var(--mainSpacing);
    color: white;
    font-weight: bold;
    background: transparent;
    padding: 0.4rem 0.9rem;
    border: 2px solid pink;
    transition: var(--mainTransition);
    text-transform: uppercase;
    cursor: pointer;
}

.btn-secondary {
    display: inline-block;
    text-decoration: none;
    letter-spacing: var(--mainSpacing);
    color: black;
    font-weight: bold;
    background: plum;
    padding: 0.4rem 0.9rem;
    border: 2px solid black;
    transition: var(--mainTransition);
    text-transform: uppercase;
    cursor: pointer;
}

.btn-primary:hover {
    background: var(--primaryColor);
    color: white;
}

.btn-secondary:hover {
    background: blueviolet;
    color: white;
}

.btn-center {
    text-align: center;
    margin: 4rem;
}

.loading {
    text-transform: capitalize;
    text-align: center;
    margin: 1rem auto;
}

.error {
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
}

.empty-search {
    text-align: center;
    text-transform: capitalize;
    margin: 2rem 0;
    padding: 1rem;
    letter-spacing: var(--mainSpacing);
}


/* end of globals */


/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem 2rem;
    background: aqua;
    z-index: 1;
    box-shadow: 0px 4px 50px black;
}

.nav-header {
    display: flex;
    justify-content: space-between;
}

.nav-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.nav-icon {
    font-size: 1.5rem;
    color: black;
}

.nav-links {
    height: 0;
    overflow: hidden;
    transition: var(--mainTransition);
    list-style-type: none;
}

.nav-links a {
    display: block;
    text-decoration: none;
    padding: 1rem 0;
    color: var(--mainBlack);
    transition: var(--mainTransition);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: var(--mainSpacing);
}

.nav-links a:hover {
    color: var(--primaryColor);
    transform: scale(1.1);
}

.show-nav {
    height: 100px;
}

@media screen and (min-width: 768px) {
    .nav-btn {
        display: none;
    }
    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .nav-links {
        height: auto;
        display: flex;
        margin-left: 4rem;
    }
    .nav-links a {
        margin: 0 1rem;
        padding: 0.5rem 0;
    }
}


/* end of navbar */


/* Hero */

.defaultHero,
.seasonHero,
.errorHero {
    min-height: calc(100vh - 66px);
    width: 100%;
    background-image: url("./images/poke2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seasonHero {
    background-image: url("./images/default.jpg");
}

.errorHero {
    background-image: url("./images/404-page.gif");
}

@media (max-height: 812px) and (max-width: 500px) {
    .defaultHero {
        background-image: url("./images/poke1.png");
    }
    .seasonHero {
        background-image: url("./images/poke3.png");
    }
}


/* End of Hero */


/* Banner */

.banner {
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    color: var(--mainWhite);
    padding: 2rem 1rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.banner h1 {
    font-size: 2.5rem;
}

.banner div {
    width: 10rem;
    height: 5px;
    background: var(--primaryColor);
    margin: 1.7rem auto;
}

.banner p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

@media screen and (min-width: 576px) {
    .banner {
        padding: 2rem 3rem;
    }
    .banner h1 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 992px) {
    .banner {
        padding: 2rem 6rem;
    }
    .banner h1 {
        font-size: 4rem;
    }
}


/* End of Banner */


/* Title */

.section-title {
    text-align: center;
    margin: auto 2rem;
    margin-bottom: 4rem;
}

.section-title h4 {
    font-size: 2rem;
    letter-spacing: var(--mainSpacing);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.section-title div {
    width: 10rem;
    height: 5px;
    margin: 0 auto;
    background: var(--primaryColor);
}


/* end of Title */


/* featured seasons */

.featured-seasons {
    padding: 5rem 0;
    background: white;
}

.featured-seasons-center {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 40px;
}

@media screen and (min-width: 776px) {
    .featured-seasons-center {
        width: 90vw;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
}

@media screen and (min-width: 992px) {
    .featured-seasons-center {
        width: 95vw;
        max-width: 1170px;
    }
}


/* end of featured seasons */


/* season */

.season {
    box-shadow: 0px 0px 30px green;
    transition: var(--mainTransition);
    margin: 2rem 1rem;
}

.season:hover {
    box-shadow: 0px 0px 30px red;
}

.img-container {
    position: relative;
}

.img-container img {
    width: 100%;
    display: block;
    padding: 2rem 0;
    transition: var(--mainTransition);
}

.sno-top {
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    background: orange;
    color: black;
    padding: 0.6rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    font-size: 0.5rem;
    text-align: center;
    transition: var(--mainTransition);
}

.sno-top h6 {
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 2px;
}

.season-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0);
    transition: all 0.3s linear;
}

.img-container:hover {
    background: rgba(255, 255, 0, 0.4);
}

.img-container:hover img {
    opacity: 0.3;
}

.img-container:hover .sno-top {
    opacity: 0;
}

.img-container:hover .season-link {
    transform: translate(-50%, -50%) scale(1);
}

.season-info {
    background: lime;
    color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    padding: 0.5rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: var(--mainSpacing);
}


/* end of season  */


/* single season*/

.single-season {
    padding: 5rem 0 0 0;
}

.single-season-images {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 50px;
}

.single-season-images img {
    width: 100%;
    display: block;
}

.desc {
    width: 100%;
    margin: -1rem 0 1rem 0;
    padding: 0 4rem;
}

.desc h3 {
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.desc p {
    line-height: 1.5;
    text-align: justify;
}

@media screen and (min-width: 992px) {
    .single-season-images,
    .single-season-info,
    .season-extras {
        width: 95vw;
        max-width: 1170px;
    }
    .single-season-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
    }
    .info {
        padding-left: 3rem;
    }
}


/* end of single season*/


/* seasonlist */

.seasonslist {
    padding: 5rem 0;
}

.seasonslist-center {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
    .seasonslist-center {
        width: 90vw;
    }
}

@media screen and (min-width: 992px) {
    .seasonslist-center {
        width: 95vw;
        max-width: 1170px;
    }
}


/* end of seasonlist */


/*  seasons fitler*/

.filter-container {
    padding: 5rem 0 0 0;
}

.filter-form {
    width: 60vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 40px;
}

.form-group {
    text-transform: capitalize;
}

.form-group label {
    display: block;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 0.5rem;
    font-size: 1.3em;
    text-align: center;
}

.form-control {
    width: 100%;
    background: pink;
    border: 1.5px solid red;
    outline: 3px solid black;
    padding: 6px 12px;
    font-size: 1.2em;
    text-transform: capitalize;
}

@media screen and (min-width: 776px) {
    .filter-form {
        width: 70vw;
    }
}

@media screen and (min-width: 992px) {
    .filter-form {
        width: 95vw;
        max-width: 1170px;
    }
}


/* end of seasons fitler*/


/* Video Container */

.episode-container {
    width: 40vw;
    margin: 1.4rem auto;
    text-align: center;
    border-radius: 30%;
    outline: none;
    display: flex;
    /* background: rgba(255, 255, 0, 0.2); khaki */
    /* background: lightcyan; */
    /* background: rgba(0, 255, 255, 0.4); lightAqua */
    /* background: rgba(255, 0, 255, 0.2); light Magenta */
    /* background: rgba(255, 192, 203, 0.5); lightRed  */
    /* background: orange; */
    background: rgba(152, 251, 152, 0.5);
    /* background: green; */
    /* background: palegoldenrod; */
    align-items: center;
    justify-content: center;
}

.episode-link {
    text-decoration: none;
    width: 100%;
    border: 1px solid rgb(144, 220, 144);
    border-radius: 30%;
    padding: 0.5rem 1rem;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

.Eno {
    color: black;
    font-size: 1.3em;
    border: 1.5px solid black;
    border-radius: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-align: right;
    padding: 3px 7px;
    letter-spacing: 0px;
    margin-right: 10px;
}

.Ename {
    color: black;
    font-size: 1.3em;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (max-width: 812px) {
    .episode-container {
        width: 60vw;
    }
    .episode-link {
        font-size: 0.9em;
        padding: 0.5rem 1.4rem;
    }
}

@media (min-width: 813px) and (max-width: 1100px) {
    .episode-container {
        width: 60vw;
    }
}

@media (max-width: 600px) {
    .episode-container {
        width: 80vw;
    }
}

.episode-link:hover,
.episode-link:focus {
    background: orange;
}

.episode-change {
    display: flex;
    align-items: center;
    justify-content: center;
}

.episode-change>.episode-link {
    background: aqua;
    width: 5rem;
    margin: 3rem 1rem 0rem 1rem;
    letter-spacing: 2px;
    font-size: 2rem;
    color: black;
}

.episode-change>.episode-link:hover {
    background: blueviolet;
    width: 5rem;
    letter-spacing: 2px;
    color: white;
}

.disabled {
    cursor: not-allowed;
    text-decoration: none;
    background: rgba(128, 128, 128, 0.5) !important;
    color: black !important;
    pointer-events: none;
}

@media (min-width: 812px) {
    .episode-change>.episode-link {
        margin: 1.5rem 1rem 0rem 1rem;
    }
}

.single-episode {
    margin: 2rem auto;
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 56.25%;
}

.video-player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 801px) {
    .video-container {
        padding-top: 40%;
    }
}


/* Video container end */


/*footer*/

.panel-footer {
    width: 100%;
    margin-top: 20px;
    background: aqua;
    padding: 2rem;
    border: 0;
    box-shadow: 0 0 50px black;
}

.panel-footer .description {
    /* font-family: serif; */
    font-size: 1em;
    color: black;
    text-align: justify;
    letter-spacing: 2px;
    cursor: default;
}

.panel-footer .text-center {
    color: black;
    padding: 20px;
    font-size: 1.2em;
    font-family: serif;
    letter-spacing: 5px;
    padding-bottom: 0;
    text-align: center;
    cursor: default;
}


/* footer end */